<!-- The surrounding HTML is left untouched by FirebaseUI.
     Your app may use that space for branding, controls and other customizations.-->

<h1>Login Component is working</h1>
<div *ngIf="user_name; then logged_in else not_logged_in">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #not_logged_in>
  <p>You are not logged in</p>
  <div id="firebaseui-auth-container"></div>
</ng-template>


<!-- User logged in -->
<ng-template #logged_in>
  <pre>
    You are logged in as {{user_name}}.
    Your login email is {{user_email}}.
    <button (click)="logout()">Logout</button>
  </pre>
</ng-template>
