<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="home" class="w3-bar-item w3-button w3-wide">BITS-PLZ</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="blockly" class="w3-bar-item w3-button"><i class="fa fa-user"></i> BLOCKLY</a>
      <a href="login" class="w3-bar-item w3-button"><i class="fa fa-th"></i> LOGIN/SIGN UP</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
<ngx-flash-messages></ngx-flash-messages>
