.customSwalBtn {
  background-color: rgba(214,130,47,1.00);
  border-left-color: rgba(214,130,47,1.00);
  border-right-color: rgba(214,130,47,1.00);
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 30px 5px 0px 5px;
  padding: 10px 32px;
}
