<html>
<head>
  <title>
    About us
  </title>
  <style type="text/css">

  </style>
</head>
<body>
<article>
  <h1>About Us</h1>
  <p><strong>Team:</strong> BITS PLEASE <strong>Business Sentiment Analysis</strong> for content creators </p>

  <div class="image-wrapper">
    <img src="https://cdn-images-1.medium.com/max/1600/1*p3Ste5R_iJzi5IcSmFkmtg.jpeg">
    <span>Image source: The WEB</span>
  </div>


  <p>
    We are a group of young developers and this is A web application that creates data reports for content creators. The
    user can customize what data sources they want to include, such as Twitter, Facebook, Yelp, Google Review, etc., to
    be used in sentiment analysis.
    The user can choose what topics he/she wants to search
    The user can customize how sentiment analysis is done
    The user can opt to receive real-time updates for a specific trend
    We keep track of user-accounts, so that user can see their past sentiment analysis history and results. Also, we can
    send them real-time updates based on this.
    The user must be signed in to use our App.

  </p>
  <p>Technical Specifications:
    Web Application, Java/TypeScript, HTML, Angular 5/NodeJS
    We will use Firebase for storing user information and past queries/results
    Sentiment Analysis will be done in R, with help from Lexicons [+/-]
    Users will customize analysis with Blockly (from which Scratch was built) blocks
    APIs for Twitter, Facebook, Yelp, Google Review, etc.</p>
</article>
</body>
</html>
